.App {
  text-align: center;
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  background: #000000;
}

.nav > * {
  padding-right: 20px;
}

.about {
  color: white;
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

.HomeItems {
  border-radius: 25px;
  background: rgb(34, 34, 34);
  padding: 20px;
}

.CharInfo {
  color: rgb(249, 249, 249);
}

html {
  background-image: url(https://i.pinimg.com/736x/ea/a2/4d/eaa24d68af5788dfcda142733ea2f99a.jpg);
  background-size: cover;
}