.App {
  text-align: center;
  background-image: url(https://i.pinimg.com/736x/ea/a2/4d/eaa24d68af5788dfcda142733ea2f99a.jpg);
}

.nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  padding: 0 20px;
  background: #1ad4ce;
}

.nav > * {
  padding-right: 20px;
}

.Home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: rgb(32, 35, 41);
}

.HomeItems {
  padding: 20px;
  
}

